body {
    background-image: url("./4758725_3326.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.rectangles {
    position: relative;
    height: max-content;
    z-index: 1;
}

.rectangle {
    position: absolute;
    width: 90px;
    height: 50px;
    background-color: #fff;
    opacity: 0.5;
    animation: move 5s infinite;
    transform: rotate(90deg);
}

.rectangle:nth-child(1) {
    top: 0;
    left: 0;
    animation-delay: 0s;
}

.rectangle:nth-child(2) {
    top: 0;
    left: 100px;
    animation-delay: 0.5s;
}

.rectangle:nth-child(3) {
    top: 0;
    left: 200px;
    animation-delay: 1s;
}

.rectangle:nth-child(4) {
    top: 0;
    left: 300px;
    animation-delay: 1.5s;
}

.rectangle:nth-child(5) {
    top: 0;
    left: 400px;
    animation-delay: 2s;
}

@keyframes move {
    0% {
        transform: translateY(0) translateX(0);
    }

    50% {
        transform: translateY(100vh) translateX(100vw);
    }

    100% {
        transform: translateY(0) translateX(0);
    }
}